body 
{
    background-color: #000000;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

nav a
{
    color: red;
}

section
{
    padding: 20px;
    margin: 30px;
}

#About
{
    border: 10px solid orange;
    text-align: center;
    font-weight: lighter;
}

h1
{
    text-align: center;
    font-size: 50px;
}

h2
{
    font-size: 30px;
    color: grey;
}

#Experience, #Connect, #Skills, #Projects, #leave-message, #messages
{
    border: 10px solid orange;
    padding: 10px;
    font-weight: lighter;
    justify-content: center;
}

.job-row, .volunteer-row
{
    margin-top: 10px;
}

.job-header, .volunteer-header
{
    display: flex;
    justify-content: space-between;
}

.job-title, .volunteer-title
{
    font-style: italic;
}

.job-date, .volunteer-date
{
    display:flex;
}

#Skills ul
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#Skills li
{
    background-color: white;
    max-width: 200px;
}

#Projects ul
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

#Projects li
{
    background-color: lightgrey;
    padding: 10px 15px;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: bold;
}

#Projects li a
{
    color: black;
    text-decoration: none;
}

#Projects a: hover
{
    text-decoration: underline;
}

.connect-links
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#Connect a
{
    color: lightgoldenrodyellow;
    font-weight: bold;
}

#leave-message form
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#leave-message input, #leave-message textarea
{
    padding: 10px;
    font-size: 16px;
}

#leave-message label
{
    font-size: 20px;
    font-weight: bold;
}

#leave-message button
{
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer
}

#leave-message button: hover
{
    background-color: darkred;
}

/* Tablet Styles */
@media (min-width: 768px)
{
    h2
    {
        font-size: 40px;
        color: silver;
    }

    #Skills li
    {
        margin-left: 10px;
        background-color: lightblue;
    }

    h1
    {
        font-size: 60px;
        font-style: italic;
    }

    .connect-links
    {
        font-size: 20px;
        grid-template-columns: repeat(2, max-content);
    }

    #leave-message input, #leave-message textarea
    {
        font-size: 18px;
    }

    #leave-message button
    {
        font-size: 18px;
    }
}

/* Desktop Styles */
@media (min-width: 1024px)
{
    h2
    {
        font-size: 50px;
        color: darkgray;
    }

    #Skills li
    {
        margin-left: 15px;
        background-color: lightcyan;
        padding: 10px;
    }

    h1
    {
        font-size: 70px;
        font-style: oblique;
    }

    .connect-links
    {
        font-size: 30px;
        grid-template-columns: repeat(2, max-content);
    }

    #leave-message input, #leave-message textarea
    {
        font-size: 20px;
    }

    #leave-message button
    {
        font-size: 20px;
    }
}
