body 
{
    background-color: #000000;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

nav a
{
    color:red;
}

section
{
    padding: 20px;
    margin: 30px;
}

#About
{
    border: 10px solid orange;
    text-align: center;
    font-weight: lighter;
}

h1
{
    text-align: center;
    font-size: 50px;
}

h2
{
    font-size: 30px;
    color: grey;
}

#Experience
{
    border: 10px solid orange;
    padding: 10px;
    font-weight: lighter;
}

.job-row, .volunteer-row
{
    margin-top: 10px;
}

.job-header, .volunteer-header
{
    display: flex;
}

.job-title, .volunteer-title
{
    font-style: italic;
}

.job-date
{
    display:flex;
    margin-left: 1550px;
}

.volunteer-date
{
    display: flex;
    margin-left: 1410px;
}

#Connect
{
    border: 10px solid orange;
    padding: 10px;
    font-weight: lighter;
}

.connect-links
{
    display: flex;
    gap: 20px;
}

#Connect a
{
    color:purple;
    font-weight: bold;
}