body 
{
    background-color: #000000;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

nav a
{
    color:red;
}

section
{
    padding: 20px;
    margin: 30px;
}

#About
{
    border: 10px solid orange;
    text-align: center;
    font-weight: lighter;
}

h1
{
    text-align: center;
    font-size: 50px;
}

h2
{
    font-size: 30px;
    color: grey;
}

#Experience, #Connect
{
    border: 10px solid orange;
    padding: 10px;
    font-weight: lighter;
}

.job-row, .volunteer-row
{
    margin-top: 10px;
}

.job-header, .volunteer-header
{
    display: flex;
    justify-content: space-between;
}

.job-title, .volunteer-title
{
    font-style: italic;
}

.job-date, .volunteer-date
{
    display:flex;
}

.connect-links
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#Connect a
{
    color:purple;
    font-weight: bold;
}

/* Tablet Styles */
@media (min-width: 768px)
{
    h2
    {
        font-size: 40px;
        color: silver;
    }

    #Experience ul
    {
        margin-left: 10px;
        background-color: blue;
    }

    h1
    {
        font-size: 60px;
        font-style: italic;
    }

    .connect-links
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop Styles */
@media (min-width: 1024px)
{
    h2
    {
        font-size: 50px;
        color: darkgray;
    }

    #Experience ul
    {
        margin-left: 15px;
        background-color: purple;
        padding: 10px;
    }

    h1
    {
        font-size: 70px;
        font-style: oblique;
    }

    .connect-links
    {
        grid-template-columns: repeat(2, max-content);
    }
}